{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      // "@babel/preset-env",
      "@babel/preset-react",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        // "annotate-console-log",
        "istanbul",
        { "exclude": ["tests/*.test.js"] }
      ]
    }
  }
}
