body {
  background: cornsilk;
  background-image: url("./testImage.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pure-button {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
